.Mui-selected {
    color: rgba(0, 0, 0, 0.6) !important;
    background-color: white !important;
    border: 1px solid transparent !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
        align-items: center;
    }
}

.tab {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 20px !important;
    vertical-align: middle !important;
    
    svg {
        margin-right: 10px;
    }

    &:hover {
        color: #2a5bd7;
        background: #e8e9eb;
        border-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.tab-content {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 1200px;
    box-shadow: none;
    border: 3px #e8e9eb solid;
    border-radius: 16px;
}

button {
    font-size: 1.1rem;
    background: #2a5bd7;
    border: none;
    border-radius: 6px;
    padding: 20px;
    color: white;
}